// Define variables for your color scheme

// For example:
$lightblue: #623bd7;
$blue: #310f94;
$yellow: #e1c80f;
$orange: #e1af0b;
$black: #060212;
$grey: #4e4c54;
$lightgrey: #b8b4c6;
$white: #eeecf4;
