// Define variables for your color scheme

// For example:
$lightblue: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$darkyellow: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #F4F4F4;
