<%= render 'shared/banner' %>
<div class="container text-center">
  <h1>Today's Quiz</h1>
    <div class="b-color p-2">
      <h1 class="mt-2" style="font-size: 30px; color: #696969">Finished!</h1>
        <%= image_tag 'say_yes.gif', class: 'finished-robot' %>
          <h2 class="teal-text my-5">THANK YOU FOR PRIORITIZING YOUR TEAM’S SAFETY!</h2>
          <h3>Good safety saves lives and money</h3>
    </div>
</div>

<div class="text-center mt-5 mb-3">
  <%= link_to 'Home', :home, class: 'btn' %>
</div>
