<%# <%= render 'shared/banner' %>

<%# <h1>My Results</h1>

<div class="container stats-box">
  <div class="row">
    <div class="col-6 p-1">
      <div class="item">
        <h2>Your rank</h2>
        <span>34th</span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="item">
        <h2>Team rank</h2>
        <span>5th</span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="item">
        <h2>Points today</h2>
        <span>2 points</span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="item">
        <h2>Quiz</h2>
        <span>2 of 12</span>
      </div>
    </div>
  </div>
</div>

