<%= render 'shared/banner' %>

<div class='container'>

<h1>Stats</h1>

<div class="yellow-bg">

    <div class="item">
        <div class="subject-text">
          <h5>Your Strongest Subject</h5>
          <p>Pre-Inspection</p>
        </div>
        <div class="bubble bub-green">
          <h4>75%</h4>
        </div>
    </div>
  

    <div class="item">
        <div class="subject-text">
          <h5>Your Weakest Subject</h5>
          <p>Proper Procedure</p>
        </div>
        <div class="bubble bub-red">
          <h4>50%</h4>
        </div>
    </div>

  </div>

  <div class="flex-percentage">
    <p>Correct answer rate this quarter:</p>
    <div class="percentage">
      <h2>75%</h2>
    </div>
    <p>Quiz completion rate this quarter:</p>
    <div class="percentage">
      <h2>90%</h2>
    </div>
  </div>

  <div class="btn"> <%= link_to "Leaderboard", leaderboard_path %></div>

</div>


<%# Your user instance variables %>
<%# 
@user
@current_points
@current_possible_points
@remaining_points
@pre_inspection_score
@post_inspection_score
@distracted_driving_score
@proper_procedure_score
@best_subject
@worst_subject
@percent_correct
@percent_incorrect
@percent_complete
%>