<%= render 'shared/banner' %>
<div class="container text-center">
  <div class="b-color p-2">
  <h1 class="mt-2">Thank You, <%= @user.first_name %>!</h1>
    <div class="lottie question row justify-content-center">
      <%= image_tag 'quizmasterQ.png' %>
    </div>
    <h2 class="teal-text my-5">QUIZZES MAKE WIZZES!</h2>
    <h3>Flex your little head noodle...</h3>
  </div>
</div>
