<%= render 'shared/banner' %>
<div class="container text-center">
  <div class="b-color p-2">
    <h1 class="mt-2">Thank You!</h1>
     <%= image_tag 'say_yes.gif', class: '' %>
      <h2 class="teal-text my-5">WHEN A SAFETY INCIDENT HAPPENS, WE ALL HAVE A PART TO PLAY!</h2>
      <h3>Good safety saves lives and money</h3>
  </div>
</div>
