<div class="navbar navbar-expand-sm navbar-light safely-banner" >
    <%= image_tag("ai_logo.png", :style => "width: 40px; height: 40px;" ) %>
    <div class="banner-title">
        <h4 class="text-white text-center pt-2 pb-1">Safely.ai</h4>
    </div>

    <div class="banner-link">
      <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <i class="fas fa-sign-out-alt logout"></i>
          <% end %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
</div>
