<div class="container">
  <div class="row justify-content-around video-div mx-1">
    <h2 class="pt-3">Explanation</h2>

    <iframe  src="https://www.youtube.com/embed/JkO84--N9Ew"
      frameborder="0" class="video" gesture="media" allow="encrypted-media" allowfullscreen>
    </iframe>

    <h3 class="px-2 py-4">
      Compressed air (or hydraulic fluid if your vehicle has hydraulic brakes)
      flows to the brakes through hoses and lines. During your pre-trip
      inspection, check all hoses and lines for leaks or tangles.
    </h3>
    </div>
  </div>
