<div>

  <h1>Today's Quiz</h1>
  
  <%= simple_form_for @quiz_results do |f| %>
    
    <img src="Robot - Hi" alt="Robot says Hi" width="500" height="600">
    <h2>f.input :answers, as: radio_buttons, collection:  </h2>

  <% end  %>


</div>


