<%= render 'shared/banner' %>
<div class="container text-center">
  <h1>Quiz Selected</h1>
  <%= image_tag 'say_yes.gif', class: '' %>
  <h2 class="teal-text my-5">You have successfully created a quiz</h2>
  <h3>Good safety saves lives and money</h3>
</div>
<div class="container text-center mt-5">
  <%= link_to 'Home', :manager_home, class: 'btn' %>
</div>