<%= render 'shared/banner' %>

<!-- <p>SubjectAreas#index</p>
<p>Find me in app/views/subject_areas/index.html.erb</p> -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <h1>Library</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row justify-content-around topic-library mx-2 pb-2">
            <div class="col-4 align-self-center text-center">
              <i class="fas fa-truck topic-img"></i>
            </div>
            <div class="col-8 pt-3">
              <div class="row topic-area">
                Pre-Inspection
              </div>
              <div class="row pr-2">
                <p>An inspection won’t prevent all accidents related to equipment failure, but it will help.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
            <div class="row justify-content-around topic-library mx-2 pb-2">
              <div class="col-4 align-self-center text-center">
                <i class="fas fa-traffic-light topic-img"></i>
              </div>
              <div class="col-8 pt-3">
                <div class="row topic-area">
                  Checking Brakes
                </div>
                <div class="row pr-2">
                  <p>Learn more about how to properly manage your braking systems.</p>
                </div>
              </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row justify-content-around topic-library mx-2 pb-2">
              <div class="col-4 align-self-center text-center">
                <i class="fas fa-truck-loading topic-img"></i>
              </div>
              <div class="col-8 pt-3">
                <div class="row topic-area">
                  Post-Inspection
                </div>
                <div class="row pr-2">
                  <p>Proper post trip inspections will reduce the chance of violations.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-around topic-library mx-2 pb-2">
              <div class="col-4 align-self-center text-center">
                <i class="fas fa-car-crash topic-img"></i>
              </div>
              <div class="col-8 pt-3">
                <div class="row topic-area">
                  Fatigue Training
                </div>
                <div class="row pr-2">
                  <p>Driver fatigue exerts a negative effect on many functions that drivers need to perform well.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-around topic-library mx-2 pb-2">
              <div class="col-4 align-self-center text-center">
                <i class="fas fa-tools topic-img"></i>
              </div>
              <div class="col-8 pt-3">
                <div class="row topic-area">
                  Load Balancing
                </div>
                <div class="row pr-2">
                  <p>Loads that are off-center or unbalanced can shift and affect turning or cause rollovers.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12">
          <div class="btn btn-block row library-to-home">
            <%= link_to "Home", home_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- justify-content-around  reward-btn  -->


