.btn {
  background: #25c1a9;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #444444;
  padding: 20px 45px;
  color:#ffffff;
  text-align: center;
  width: 80%;
  margin-bottom: 4px;
 }

a {
  color: white;
}

.btn:hover {
  background-color: #AAD9DD;
  box-shadow: 2px 2px 4px #F9BC11;
  color: white
}