.btn {
  background:    #25c1a9;
  border-radius: 8px;
  box-shadow:    0 1px #444444;
  padding:       20px 45px;
  color:         #ffffff;
  text-align:    center;
  width: 80%;
 }
body {
  background-color: white;
  font-family: Roboto;
}

a {
  color: white;
}

a:hover {
  color: white;
}
.btn:hover {
  background-color: #AAD9DD;
  box-shadow: 0 0 1.5px white;
  color: white
}