  body{
    background-color: $black;
  }

  .explanation-background {
    background-color: $black;
    color: $white;
  }

  .actions {
    padding-left: 60px;
    margin-top: 30px;
  }

  .modal-body {
    margin: auto;
    text-align: center;
  }

  .modal-content {
    border: 2px solid $blue;
    border-radius: 8px;
    margin: 20% auto;
    width: 50%;
  }

  .modal-content h3 {
    color: $blue;
  }
  