.trophy-img {
  height: 130px;
  // width: 100px;
}

.book-img {
  height: 130px;
}

.medal-img {
  height: 130px;
}

a:link {
  text-decoration: none;
}
  .heart {
  animation: heart-pulse ease-out;
  animation-duration: 6s;
}

@keyframes heart-pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  85%{
    transition: scale(.9);
  }
  95% {
    transform: scale(.9);
  }
  100%{
    transform: scale(1);
  }
}
