// img.img-thumbnail.manager-icons {
//   width: 5rem;
// }

.manager-icon-text {
  font-size: 97%;
  color:  #3E505A;
}

#manager-home-link {
  color:  #3E505A;
  font-size: 150%;
}

.test-back-link {
  color: unset;
}

