.stats-box {
  // display: flex; // not needed as this div is already a flexbox- having this commented out makes ylw box responsive
  flex-wrap: wrap;
  background-color: #F9BC11;
  border-radius: 8px;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 5px;
  width: 95%;
  margin:0 auto;
  box-shadow: 5px 5px 10px #444444;
}

.result_item{
  // flex: 0 50%;
  /*height: 25px;*/
  // box-sizing: border-box; // not sure what this is doing if uncommented, no changes with or without
  border-radius: 8px;
  border: 3px solid white;
  background-color: #25C1A9;
  box-shadow: 2px 3px 2px #444444;
  height: 110px;
  padding: 4%;
  // padding-top: 8px; // if we uncomment this- the text will flow outside of the div
  color:white;
  font-size: 24px;
  width: 100%;
}

.result-item-2 {
  font-size: 24px !important;
  font-weight: bold !important;
  white-space: nowrap;
}

.result_item {
  font-size: 20px;
}

.smaller-txt{
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
}

.big-number{
  font-size: 56px;
  font-weight: bold;
}

.percent{
  font-size:24px;
}

.result-bubble {
  border: 6px solid #F9BC11 !important;
  background-color: #E5F7FF;
  height: 200px !important;
  width: 200px !important;
  box-shadow: 2px 2px 4px #444444;
}
