
.rewards-header {
  color: #3E505A;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  margin-top: 8px;
}

.current-points {
  width: 80%;
  height: 60px;
  background-color: #E5F7FF;
  border-radius: 8px 0 0 8px;
  padding-left: 6px;
  color: #3E505A;
  margin-top: 10px;
  margin-bottom: 10px;
}

.possible-points {
  padding-left: 6px;
  background-color: #F9BC11;
  border-radius: 0 8px 8px 0;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3E505A;
}

// .yellow-box {
//   display: flex;
//   flex-wrap: wrap;
//   background-color: #F9BC11;
//   border-radius: 0 8px 8px 0;
//   height: 60px;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.points-bar {
  border-radius: 8px;
}

.points-you-can-earn {
  margin-top: 60px;
  margin-bottom: 60px;
}

.reward-img {
  height: 100px;
}

.prizes-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin:0 auto;
}

.reward-btn {
  margin-top: 80px;
}