  .topic-library{
    border-radius: 8px;
    box-shadow: 3px 5px 3px grey;
    margin-bottom: 15px;
  }

  .topic-area{
    font-size: 24px;
  }

  .topic-img{
    font-size: 90px;
  }

  .library-to-home{
    margin: 0 auto;
  }
