  .topic-library{
    border-radius: 8px;
    box-shadow: 2px 4px 6px grey;
    margin-bottom: 15px;
  }

  .topic-area{
    font-size: 24px;
    font-style: bold;
  }

  .topic-img{
    font-size: 70px;
    color:#F9BC11;
  }

  .library-to-home{
    margin: 0 auto;
  }

