  .topic-library{
    border-radius: 8px;
    box-shadow: 1px 1px 5px $lightgrey;
    margin-bottom: 15px;
  }

  .topic-area{
    font-size: 24px;
    font-style: bold;
  }

  .topic-img{
    font-size: 70px;
    color: $yellow;
  }

  .library-to-home{
    margin: 0 auto;
  }

